<div class="content">
  <p>Today's tide times for BCS Park</p>
  <table class="table">
    <thead>
      <th></th>
      <th>Low Tide</th>
      <th>High Tide</th>
    </thead>

    <tbody>
      <tr>
        <th>Morning</th>
        <td scope="row">{{ myVariable1 }}</td>
        <td>{{ myVariable2 }}</td>
      </tr>

      <tr>
        <th>Evening</th>
        <td scope="row">{{ myVariable3 }}</td>
        <td>{{ myVariable4 }}</td>
      </tr>
    </tbody>
  </table>

  <br />

  <div class="input-field" *ngIf="showForm">
    <div class="morning">
      <h3>Morning</h3>
      <label>Enter Time for Low Tide</label>
      <input
        type="text"
        [(ngModel)]="myVariable1"
        placeholder="Enter time 08:00 A.M."
      />
      <br />

      <label>Enter Time for High Tide</label>
      <input
        type="text"
        [(ngModel)]="myVariable2"
        placeholder="Enter time 08:00 A.M."
      />
      <br /><br />
    </div>

    <div class="evening">
      <h3>Evening</h3>
      <label>Enter Time for Low Tide</label>
      <input
        type="text"
        [(ngModel)]="myVariable3"
        placeholder="Enter time 08:00 A.M."
      />
      <br />

      <label>Enter Time for High Tide</label>
      <input
        type="text"
        [(ngModel)]="myVariable4"
        placeholder="Enter time 08:00 A.M."
      />
    </div>
  </div>

  <div class="btn">
    <button (click)="toggleForm()">{{ buttonText }}</button>
  </div>
</div>
